# Azure DevOps Pipeline for MASM64 Framework
# Build, test, and package the framework

trigger:
  branches:
    include:
    - main
    - develop
  paths:
    exclude:
    - docs/*
    - README.md

pool:
  vmImage: 'windows-latest'

variables:
  uasmVersion: '2.56.2'
  buildConfiguration: 'Release'

stages:
- stage: Build
  displayName: 'Build Framework'
  jobs:
  - job: BuildAndTest
    displayName: 'Build and Test'
    steps:
    - task: BatchScript@1
      displayName: 'Setup Visual Studio Environment'
      inputs:
        filename: 'C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat'
        modifyEnvironment: true
    
    - task: PowerShell@2
      displayName: 'Download UASM'
      inputs:
        targetType: 'inline'
        script: |
          $uasmUrl = "https://github.com/AsmProjects/uasm/releases/download/v$(uasmVersion)/uasm-$(uasmVersion)-windows-x64.zip"
          try {
            Invoke-WebRequest -Uri $uasmUrl -OutFile uasm.zip
            Expand-Archive -Path uasm.zip -DestinationPath $(Build.SourcesDirectory)\tools\uasm
            Write-Host "##vso[task.setvariable variable=ASM]$(Build.SourcesDirectory)\tools\uasm\uasm64.exe"
          } catch {
            Write-Host "Using ml64 as fallback"
            Write-Host "##vso[task.setvariable variable=ASM]ml64.exe"
          }
    
    - task: BatchScript@1
      displayName: 'Build Hello Test'
      inputs:
        filename: 'tests\hello\build.bat'
        workingFolder: 'tests\hello'
    
    - task: BatchScript@1
      displayName: 'Build Framework Tests'
      inputs:
        filename: 'tests\framework\build.bat'
        workingFolder: 'tests\framework'
    
    - task: CmdLine@2
      displayName: 'Run Unit Tests'
      inputs:
        script: 'tests\framework\bin\run-tests.exe'
        workingDirectory: '$(Build.SourcesDirectory)'
    
    - task: BatchScript@1
      displayName: 'Build Console Template'
      inputs:
        filename: 'templates\console\build.bat'
        workingFolder: 'templates\console'
    
    - task: BatchScript@1
      displayName: 'Build GUI Template'
      inputs:
        filename: 'templates\gui\build.bat'
        workingFolder: 'templates\gui'
    
    - task: BatchScript@1
      displayName: 'Build DLL Template'
      inputs:
        filename: 'templates\dll\build.bat'
        workingFolder: 'templates\dll'
    
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Build Artifacts'
      inputs:
        pathToPublish: '$(Build.SourcesDirectory)'
        artifactName: 'masm64-framework'
        publishLocation: 'Container'
      condition: succeeded()

- stage: Package
  displayName: 'Package Release'
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
  - job: CreatePackage
    displayName: 'Create Release Package'
    steps:
    - task: DownloadBuildArtifacts@1
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'masm64-framework'
        downloadPath: '$(System.ArtifactsDirectory)'
    
    - task: ArchiveFiles@2
      displayName: 'Create ZIP Archive'
      inputs:
        rootFolderOrFile: '$(System.ArtifactsDirectory)\masm64-framework'
        includeRootFolder: true
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)\masm64-framework-$(Build.BuildNumber).zip'
    
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Release Package'
      inputs:
        pathToPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'release'

